@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "montserrat";
}

body {
  background-color: #f4f0f3;
}

.global {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 120px 100%;
  grid-template-areas:
    "box1 box1"
    "box2  box3";

  .productList {
    margin-left: 5rem;
  }
}
