@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "montserrat";
}

body {
  background-color: #f4f0f3;
}

.global {
  display: flex;
  justify-content: space-evenly;
}
